<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<p>通过name相同实现选项互斥</p>
			<label for="male1">
				<input type="radio" id="male1" name='Gender' value="男"/>男
			</label>
			<label for="female1">
				<input type="radio" id='female1' name='Gender' value="女"/>女
			</label>
			
			<hr />
			
			<p>通过v-model实现双向绑定</p>
			<label for="male2">
				<input type="radio" id="male2" value="男" v-model="sex"/>男
			</label>
			<label for="female2">
				<input type="radio" id='female2' value="女" v-model="sex"/>女
			</label>
			<h2>您选择的性别是：{{sex}}</h2>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			var app = new Vue({
				el:'#app',
				data:{
					sex:''
				}
			})
		</script>
	</body>
</html>
